body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background: gainsboro;
}

h1{
  color:navy;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}